@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    background-color: #36454F;
    color:#fff;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --primaryColor: #fdde00;
    --secondaryColor: #fc6a01;
  }
  

  #root {
    /* padding: 5px; */
    text-align: center;
    /* background-color: ; */
    border-radius: 2px;
  }
  
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  #game-container{
    /* margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #1b0044; /* Match game background color to blend in */
  }
  .login-page{
    max-width: 580px;
    margin: 100px auto;
  }

  .home-box{
    max-width: 740px;
    margin: auto;
  }
  .login-box{
    max-width: 640px;
    margin: auto;
  }
  .logout-box{
    width: 1279px;
    height: 60px;
    margin: auto;
    border-top: 5px solid #36454F;
    background-color: var(--secondaryColor);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
        button {
            width: 125px;
            margin: 10px;
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            border: 2px solid #fdde00;
            border-radius: 6px;
        }
  }

  .gameHeader{
    width: 1279px;
    height: 40px;
    margin: auto;
    background-color: var(--secondaryColor);
    border-bottom: 5px solid #36454F;
    display: flex;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    label{
      margin-left: auto;
      padding:5px 2px
    }
    input {
      color:#fc6a01;
      /* margin-left: auto; */
      font-weight: 700;
    }

    input::placeholder {
      color: var(--secondaryColor); /* Change this to your desired color */
      opacity: 0.75; /* Optional: Ensures the color is solid */
    }

  }

  .addButton{
      height: 25px;
      width: 25px;
      margin: 6px 5px;
      font-size: 15px;
      font-weight: 700;
      color: #fff;
      border: 2px solid #fdde00;
      border-radius: 6px;
  }

  #overlay-button {
    position: absolute;
    top: 20px;  /* Adjust top position */
    right: 20px; /* Adjust right position */
    padding: 10px 20px;
    font-size: 16px;
    z-index: 10;  /* Ensure it stays above the canvas */
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}